@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: outfit;
}



.fontOvo{
  font-family: 'Ovo';
}


.shadowblack{
  box-shadow:4px 4px 0 rgb(0, 0, 0) ;
  
  }

@theme{
  --shadow-black: 4px 4px 0 rgb(0, 0, 0) ;
  --shadow-white: 4px 4px 0 rgb(255, 255, 255);
 
  --color-lightHover : rgb(252, 244, 255);
  --color-dartHover : rgb(42, 0, 74);
  --color-darkTheme : rgb(17, 0, 31);
  
}